* {
   line-height: 1.5rem;
   padding: 5px;
}
.page {
    border: 1px black solid;
    height: 900px;
    width: 600px;
    margin: 10px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 2px;
}
li {
    list-style: none;
}
img {
    height: 250px;
}
h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 400px;
}
h2 {
    padding-top: 20px;
    padding-bottom: 15px;
}
.page {
    background-color: rgb(199, 247, 199);
}
.heading {
    background-color: rgb(120, 240, 120);
}
